* {
  box-sizing: border-box;
}

.banner {
  background-image: url(../images/HomePage/mainBannerPhoto.png);
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: right;
}

.banner img {
  height: 300px;
  margin-right: 200px;
}

@media screen and (max-width: 1024px) {
  .banner img {
    display: flex;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
  }
}

.bg2 {
  background-color: #efefef;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: lightgray;
}

.copyrightArea {
  background-color: #454040;
  font-family: "Quicksand", sans-serif;
  color: #b3b3b3;
}

.customerTestimonials p {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.findMore {
  text-decoration: none;
  border-radius: 10px;
  background-color: black;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: white;
  padding: 20px 50px;
  font-size: 1.3rem;
}

.findMore:hover {
  background-color: gray;
  border: none;
  color: white;
}

footer {
  background-color: white;
}

footer a {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #b3b3b3;
}

footer a:hover {
  text-decoration: none;
  color: black;
}

.footerArea {
  border-top: 0.5px solid #b3b3b3;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  padding: 10px;
  font-family: "Didot LP Display";
  color: #2d2c2d;
  font-size: 2.5rem;
  letter-spacing: 2.5px;
}

p {
  font-family: "Quicksand", sans-serif;
  color: gray;
  font-size: 14px;
  letter-spacing: 1px;
}

.logo img {
  height: 75px;
}

nav {
  height: 100px;
  text-transform: uppercase;
}

nav ul li .nav-item {
  font-family: "Kontora", Sans-serif;
  color: black;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2.5px;
}
.nav-link, .dropdown-item {
  font-family: "Kontora", sans-serif;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2.5px;

}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  margin: 0 50px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.dropdown-menu {
  margin: auto 0;
  width: 280px;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    z-index: 1;
  }

  .navbar-toggler {
    position: absolute;
    right: 20px;
  }
  .navbar-collapse {
    position: absolute;
    top: 70px;
    right: 20px;
  }

  .nav-item {
    margin: 0 10px;
  }
}

nav ul li:hover {
  border-bottom: 2px solid gray;
}

.offers {
  display: grid;
  grid-template: row;
  grid-template-areas: "wedPhotoThumb corpPhotoThumb socPhotoThumb";
  gap: 20px;
}

@media screen and (max-width: 890px) {
  .offers {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.offers img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.testimonials {
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.topBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  background-color: #b3b3b3;
}

.homeBtn {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 2px solid #101010;
}

.wedPhotoThumb img:hover,
.corpPhotoThumb img:hover,
.socPhotoThumb img:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
