* {
    box-sizing: border-box;
  }

.banner {
  background: url(../images/repeat-banner.png) fixed center no-repeat;
  /* background-image: url(../images/repeat-banner.png); */
  height: 300px;
  /* background-attachment: fixed;  */
  /* background-size: 100% 100%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.banner h2 {
    font-family: "Didot LP Display";
    font-size: 70px;
    color: whitesmoke;
  }

.introP {
    width: 80%;
  }

.introImg img {
    height: 80%;
    width: 80%;
  }

.wedHistory p {
  padding-top: 10px;
  text-align: center;
}

.servicesList ul li {
  font-family: "Quicksand", sans-serif;
  color: gray;
  font-size: 14px;
  letter-spacing: 1px;
}

.seeMore input[type="button"] {
  background-color: black;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 15px;
}

.seeMore input[type="button"]:hover {
  background-color: gray;
  border: none;
}

.contactP a {
  text-decoration: none;
  color: black;
}

.contactP a:hover {
  color: gray;
  text-decoration: underline;
}

.bg2 {
  background-color: #efefef;
}

.wedServices img {
  height: 80%;
  width: 80%;
}

.wedHistory img {
  height: 60%;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.copyrightArea {
  background-color: #454040;
  font-family: "Quicksand", sans-serif;
  color: #b3b3b3;
}

footer {
  background-color: white;
}

footer a {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #b3b3b3;
}

footer a:hover {
  text-decoration: none;
  color: black;
}

.footerArea {
  border-top: 0.5px solid #b3b3b3;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  padding: 10px;
  font-family: "Didot LP Display";
  color: #2d2c2d;
  font-size: 2.5rem;
  letter-spacing: 2.5px;
}

p {
  font-family: "Quicksand", sans-serif;
  color: gray;
  font-size: 14px;
  letter-spacing: 1px;
}

.logo img {
  height: 75px;
}

nav {
  height: 100px;
  text-transform: uppercase;
}

nav ul li .nav-item {
  font-family: "Kontora", Sans-serif;
  color: black;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2.5px;
}

.nav-link, .dropdown-item {
  font-family: "Kontora", sans-serif;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2.5px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  margin: 0 50px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.dropdown-menu {
  margin: auto 0;
  width: 280px;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    z-index: 1;
  }

  .navbar-toggler {
    position: absolute;
    right: 20px;
  }
  .navbar-collapse {
    position: absolute;
    top: 70px;
    right: 20px;
  }

  .nav-item {
    margin: 0 10px;
  }
}

nav ul li:hover {
  border-bottom: 2px solid gray;
}

.topBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  background-color: #b3b3b3;
}

.homeBtn {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  background-color: #b3b3b3;
  border-radius: 50%;
  border: 2px solid #101010;
}

/* .image-grid__item {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 350px;
  align-items: stretch;
  justify-content: center;
  position: relative;
  height: 200px;
   transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
}
.image-grid__item:before {
  content: "";
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  border-radius: 3px;
  box-shadow: 0 10px 24px 0px rgba(0, 0, 0, 0.06), 0 8px 20px -2px rgba(0, 0, 0, 0.1), 0 6px 10px -6px rgba(0, 0, 0, 0.2);
  transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
  opacity: 0;
}
.image-grid__item:hover:before {
  visibility: visible;
  opacity: 1;
}

.grid-item {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: stretch;
  justify-content: center;
  text-decoration: none;
  color: #eeeeee;
  overflow: hidden;
}
.grid-item:hover .grid-item__image {
  transform: scale(1.2);
}
.grid-item:hover .grid-item__hover {
  visibility: visible;
  opacity: 1;
}
.grid-item:hover .grid-item__name {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.grid-item__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  transform: scale(1);
  will-change: transform;
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
}

.grid-item__hover {
  visibility: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(rgba(47, 48, 50, 0.2), rgba(47, 48, 50, 0.7));
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.grid-item__name {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4), 2px 2px 6px rgba(0, 0, 0, 0.3);
  justify-content: center;
  letter-spacing: 1px;
  transform: scale(0.6);
  transform-origin: center center;
  transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease;
  opacity: 0;
  color: white;
  word-wrap: break-word;
} */

@media screen and (max-width: 768px) {
  .banner {
    height: 200px;
  }
  .banner h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 320px) {
  
  .banner {
    height: 150px;
    width: auto;
  }
  .banner h2 {
    font-size: 30px;
  }
}
